@use "./vars" as *;
@use "./mixins" as *;

$main-padding: 16px;

.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
  max-width: 1300px;
  position: relative;

  @include onLaptop {
    flex-direction: row;
  }

  &__header {
    @include onLaptop {
      display: none;
    }
  }

  &__menu-blur-bg {
    position: fixed;
    z-index: 2;
  }

  &__menu {
    position: fixed;
    z-index: 3;
    transition: transform 0.6s;
    transform: translateX(100%);

    @include onLaptop {
      display: none;
    }

    &--active {
      transform: translateX(0);
    }
  }

  &__side-bar {
    display: none;

    @include onLaptop {
      display: flex;
    }
  }

  &__main {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 16px;

    @include onTabletSmall {
    }

    @include onTablet {
    }

    @include onLaptop {
      min-height: 100vh;
      min-height: 100dvh;
    }

    @include onDesktop {
    }

    @include onDesktopLarge {
    }
  }
}
