@mixin onTabletSmall {
  @media (min-width: 500px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onLaptop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}

@mixin onDesktopLarge {
  @media (min-width: 1440px) {
    @content;
  }
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin circle($size) {
  @include square($size);
  border-radius: 50%;
}

@mixin icon {
  display: inline-flex;
  flex-shrink: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
